extends layout.pug
block contenido
        p
            br
        form(action="/Login_confirmado" method="POST" enctype="multipart/form-data")
            div
                label(for="usuario") Usuario:  
                input(name="usuario" required type="text" placeholder="usuario" id="usuario")
                br
                br
            div
                label(for="contrase単a") Contrase単a:  
                input(name="contrase単a" required type="passwd" id="contrase単a")
                br
                br
            div
                input(type="submit" value="ingreso" class="btn btn-info")
                br
                br