extends ../../layout.pug
block contenido
        h2 Editar producto
        br
        form(action="/hemo/productos/"+producto.id+"?_method=PUT" method="POST" enctype="multipart/form-data")
            div
                label(for="producto") Producto:  
                input(name="producto" required type="text" id="producto" value=producto.producto)
                br
                br
            div
                label(for="fondofijo") Fondo fijo:  
                input(name="fondofijo" type="text" id="fondofijo" value=producto.fondofijo)
                br
                br
            div
                input(type="submit" value="Guardar cambios" class="btn btn-info")
                br
                br