extends ../../layout.pug
block contenido
        h1 Salida de mercancia
        form(action="/hemo/salida_almacen" method="POST" enctype="multipart/form-data")
            div
                label(for="producto") Producto:  
                select(class="form-control" id="producto" name="producto")
                    each item in producto
                        option=item.producto
            div
                label(for="cantidad") Cantidad:  
                input(name="cantidad" required type="text" placeholder="cantidad" id="cantidad")
                br
                br
            div
                input(type="submit" value="Salida" class="btn btn-info")
                br
                br
            div
                h6!=resultado